body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
*,
*:before,
*:after
{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
header{
    display: none;
}
.reviews{
    color: darkred;
}
.intro-title{
    color: darkred;
}
.intro-subtitle{
    color: darkred;
}
.btn{
    color: green;
}
.list-title{
    color:darkred;
}
.form-title{
    color:darkred;
}

th, td{
    padding: 10px 40px;
    border: 1px solid;
}

th{
    width: 28%;

}

table {
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
}

.edit, .delete{
    height: 16px;
}

@media screen and (max-width: 1180px){
    table{
        width: 100%;
        font-size: 16px;
    }

    th{
        width: 29%;
    }

    .wishlist-inner {
        padding: 20px 0 0;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 686px){
    th, td{
        font-size: 14px;
        width: 25%;
        padding: 5px 10px;
    }
}